<div class="gh-flow">
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
            <form id="login" class="gh-signin" method="post" novalidate="novalidate">
                {{#gh-spin-button class="login btn btn-blue btn-block" type="submit" action="oauthAuthentication" tabindex="3" submitting=loggingIn autoWidth="false"}}Log in with Ghost{{/gh-spin-button}}
            </form>

            <p class="main-error">{{{flowErrors}}}</p>
        </section>
    </div>
</div>
